*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background-color: #ccc;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #333;
}

.wrapper{
    max-width: 1200px;
    background-color: #fff;
    margin: 0 auto;
}

.box{
    height: 100vh;
    /* overflow: auto; */
}

.box1{
    background-color: rgb(132, 159, 74); 
}

.box2{
    /* background: rgb(2,0,36); */
    background: linear-gradient(122deg, rgba(2,0,36,1) 0%, rgba(134,53,159,1) 23%, rgba(0,212,255,1) 100%);
}

.box3{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(238,174,202);
    background: linear-gradient(32deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 52%, rgba(107,73,185,1) 52%);
}

.box3 p{
    width: 50%;
    height: 50%;
    background-color: rgba(68, 101, 185, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.31);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.1px);
    -webkit-backdrop-filter: blur(7.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.box4{
    background-image: url("img/ava7patterns_pattern_1884.png"); 
   /* background-repeat: repeat-y; */
    
}

.box5{
    background-image: url("img/Screenshot_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;

    display: flex;
    justify-content: center;
    align-items: center;
}

.box5 p{
    width: 50%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.7);
    color:#fff;
    padding: 15px;
}

.box5 p:hover{
    cursor: no-drop;
}

.box6{
    background-image: url("img/Screenshot_3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}